.content {
    flex: 1;
    padding: 2rem;
    background-color: #ffffff; /* Same background color */
  }
  
  .content-inner {
    padding: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
}

  section {
    margin-bottom: 2rem;
  }

  h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }